@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 33% 96%;
    --foreground: 20 14% 4%;
    --card: 35 33% 96%;
    --card-foreground: 20 14% 4%;
    --popover: 35 33% 96%;
    --popover-foreground: 20 14% 4%;
    --primary: 45 53% 49%;
    --primary-foreground: 35 33% 98%;
    --secondary: 35 25% 90%;
    --secondary-foreground: 20 14% 4%;
    --muted: 35 25% 90%;
    --muted-foreground: 20 14% 45%;
    --accent: 35 78% 48%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 25% 85%;
    --input: 35 25% 85%;
    --ring: 35 78% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 5%;
    --foreground: 35 33% 98%;
    --card: 20 14% 5%;
    --card-foreground: 35 33% 98%;
    --popover: 20 14% 5%;
    --popover-foreground: 35 33% 98%;
    --primary: 35 78% 58%;
    --primary-foreground: 20 14% 4%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 35 33% 98%;
    --muted: 20 14% 10%;
    --muted-foreground: 35 33% 80%;
    --accent: 35 78% 58%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 35 78% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
